* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 14px;
  margin: 14px;
  max-width: 470px;
  width: 100%;
  box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
  /* overflow: hidden; */
}

.form {
  padding: 18px;
}

.form-content{
  margin-bottom: 8px;
  padding-bottom: 18px;
  position: relative;
}

.form-content label{
  display: inline-block;
  margin-bottom: 4px;
}

.form-content input{
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #dfdfdf;
}

button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  transition: all .5s;
}

button:hover {
 padding: 12px;
 margin: 5px;
}

.confirm {
  background-color: #00ba56;
  color: #d4c9c9;
}

.create {
  color: black;
  background-color: transparent;
  border: 1px solid black;

}

.Criar_Conta{
  color: black;
}