* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21111f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.container {
  background-color: #fafafa;
  border-radius: 14px;
  margin: 14px;
  max-width: 600px;
  width: 100%;
  box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
  overflow: hidden;
  margin-top: 60px;
}

.form {
  padding: 18px;
}

.form-content {
  margin-bottom: 8px;
  padding-bottom: 18px;
  position: relative;
}

.form-content input{
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #dfdfdf;
}

.form-content label{
  display: inline-block;
  margin-bottom: 4px;
  color: #6b6b6b;
}

.form button{
  background-color: #00ba56;
  color: #d4c9c9;
  width: 60%;
  border-radius: 20px;
  padding: 10px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textos {
  margin: 25px;
}

.p-red {
  color: red;
  margin-bottom: 15px;
  margin-top: 5px;
}

.p-green {
  margin-top: 5px;
  color: green;
  margin-bottom: 15px;
}